<!DOCTYPE html>
<html>
   <head>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
      <link rel="stylesheet" href="/main.css">
   </head>
   <body>
      <div id="app">
         <div class="container text-center" >
            <div  class="" >
               </br>
               <img alt="logo" class="text-center" style="width: 200px; height: 150px" src="/img/nextjobsite_logo.png"></a>
            </div>
         </div>
         <div class="container" >
            <h2  style="color:#395A4E" class="card-title text-center">Hello {{user.username}}</h2>
         </div>
         <div class="container" >
            <div class="row">
               <div  class="col-4 card border rounded-0 classWithPad" style="width: 18rem;">
                  <i style="font-size:3em; color:#395A4E; text-align:center" class="fas fa-plus"></i>
                  <div style="background-color:#FAF9F9" class="card-body classWithPad">
                     <h5 style="color:#395A4E" class="card-title">Add Company</h5>
                     <div class="container" id="addComp">
                        <form class="form form-group " >
                           <input class="form-control rounded-0" v-model="enterCompanyName" placeholder="Company">
                           <input class="form-control rounded-0" v-model="enterCompanyPerson" placeholder="Contact">
                           <input class="form-control rounded-0" v-model="enterCompanyAddress" placeholder="Address">
                           <input class="form-control rounded-0" v-model="enterCompanyTel" placeholder="Telephone">
                           <button v-on:click="createCompany" class="btn btn-block" style="color:#FAF9F9; background-color:#395A4E" >Add Company</button>
                        </form>
                        <p>
                     </div>
                  </div>
               </div>
               <div  class="col-7 card border rounded-0 classWithPad" style="width: 18rem;">
                  <i style="font-size:3em; color:#395A4E; text-align:center" class="far fa-address-book"></i>
                  <div style="overflow-y:scroll; background-color:#FAF9F9" class="card-body classWithPad"   >
                     <h5 style="color:#395A4E" class="card-title">All Companies</h5>
                     <div class="container" id="listAllCompanys">
                        <table style="font-size:small" class="table table-striped table-hover">
                           <tr>
                              <th>
                                 Name
                              </th>
                              <th>
                                 Person
                              </th>
                              <th>
                                 Tel
                              </th>
                           </tr>
                           <tr v-if="allCompanys.length" v-for="(item, i) in allCompanys">
                              <td>
                                 {{item.companyname}}
                              </td>
                              <td>
                                 {{item.companyperson}}
                              </td>
                              <td>
                                 {{item.companytel}}
                              </td>
                           </tr>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="container" >
            <div class="row">
               <div  class="col-4 card border rounded-0 classWithPad" style="width: 18rem;">
                  <i style="font-size:3em; color:#395A4E; text-align:center" class="fas fa-plus"></i>
                  <div style="background-color:#FAF9F9" class="card-body classWithPad">
                     <h5 style="color:#395A4E" class="card-title">Add Opportunity</h5>
                     <div class="container" id="addComp">
                        <form class="form form-group " >
                           <input class="form-control rounded-0" v-model="enterCompanyName" placeholder=" Name">
                           <input class="form-control rounded-0" v-model="enterCompanyPerson" placeholder="Company">
                           <input class="form-control rounded-0" v-model="enterCompanyAddress" placeholder="Contact">
                           <input class="form-control rounded-0" v-model="enterCompanyTel" placeholder="Stage">
                           <button v-on:click="createOp" class="btn btn-block" style="color:#FAF9F9; background-color:#395A4E" >Add Opportunity</button>
                        </form>
                        <p>
                     </div>
                  </div>
               </div>
               <div  class="col-7 card border rounded-0 classWithPad" style="width: 18rem;">
                  <i style="font-size:3em; color:#395A4E; text-align:center" class="far fa-list-alt"></i>
                  <div style="overflow-y:scroll; background-color:#FAF9F9" class="card-body classWithPad"   >
                     <h5 style="color:#395A4E" class="card-title">All Opportunities</h5>
                     <div class="container" id="listAllOps">
                        <table style="font-size:small" class="table table-striped table-hover">
                           <tr>
                              <th>
                                 Job
                              </th>
                              <th>
                                 Company
                              </th>
                              <th>
                                 Stage
                              </th>
                           </tr>
                           <tr v-if="allOps.length" v-for="(item, i) in allOps">
                              <td>
                                 {{item.opname}}
                              </td>
                              <td>
                                 {{item.companyname}}
                              </td>
                              <td>
                                 {{item.opstage}}
                              </td>
                           </tr>
                           <tr >
                              <td>
                                 Full Stack Dev
                              </td>
                              <td>
                                 ABC Inc
                              </td>
                              <td>
                                 Applied
                              </td>
                           </tr>
                        </table>
                     </div>
                  </div>
               </div>
               <div  class="col-12 card border rounded-0 classWithPad" style="width: 18rem;">
                  <i style="font-size:3em; color:#395A4E; text-align:center" class="far fa-star"></i>
                  <div style="overflow-y:scroll; background-color:#FAF9F9" class="card-body classWithPad"   >
                     <h5 style="color:#395A4E" class="card-title">New Job Ads</h5>
                     <div class="container" id="">
                        <table style="font-size:small" class="table table-striped table-hover">
                           <tr>
                              <th>
                                 Job Title
                              </th>
                              <th>
                                 Employer
                              </th>
                              <th>
                                 Location
                              </th>
                              <th>
                                 URL
                              </th>
                              <th>
                                 Add?
                              </th>
                           </tr>
                           <tr v-for="(ad, i) in jobAds">
                              <!-- <form class="form form-group" > -->
                              <td>
                                 {{ad.job_title}}
                              </td>
                              <td>
                                 {{ad.employer}}
                              </td>
                              <td>
                                 {{ad.location}}
                              </td>
                              <td>
                                 <button :onclick="href=ad.url" class="btn btn-block" style="color:#FAF9F9; background-color:#395A4E" >Visit</button>
                              </td>
                              <td>
                                 <button v-on:click="createCoOp" class="btn btn-block" style="color:#FAF9F9; background-color:#395A4E" >Add</button>
                              </td>
                              <!-- </form> -->
                           </tr>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <footer class="footer">
            <div class="container" align="center">
               <a href="https://www.linkedin.com/in/howardvickers/" class="btn btn-social-icon btn-linkedin"><i class="fab fa-linkedin"></i></i></i></a>
               <a href="https://github.com/howardvickers/" class="btn btn-social-icon btn-github"><i class="fab fa-github"></i></a>
               </p>
               <p class="smallText text-center">* Logo made with Logomakr.com</p>
            </div>
         </footer>
      </div>
      <script src="/main.js"></script>
   </body>
</html>
