<!DOCTYPE html>
<html>
   <head>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
      <link rel="stylesheet" href="/main.css">
   </head>
   <body>

      <div id="app">
         <div class="container text-center" >
            <div  class="" >
               </br>
               <img alt="logo" class="text-center" style="width: 250px; height: 150px" src="/img/nextjobsite_logo.png"></a>
            </div>
         </div>
         <div class="container" >
            <h2  style="color:#395A4E" class="card-title text-center">Hello {{user.username}}</h2>






         </div>
         <div class="container" >
            <div class="row">
               <div  class="col-12 card border rounded-0 classWithPad" style="width: 18rem;">
                  <i style="font-size:3em; color:#395A4E; text-align:center" class="far fa-list-alt"><h5 style="color:#395A4E" class="card-title">My Job Opportunities</h5></i>
                    <div style="overflow-y:scroll; background-color:#FAF9F9" class="card-body classWithPad"   >
                     <div class="container" id="listAllOps">
                        <table style="font-size:small" class="table table-striped table-hover">
                           <tr>
                              <th>
                                 Job
                              </th>
                              <th>
                                 Company
                              </th>
                              <th>
                                 Location
                              </th>
                              <th>
                                 Details
                              </th>
                              <th>
                                 Status
                              </th>
                              <th>
                                 To-Do
                              </th>
                              <th>
                                 Update?
                              </th>
                              <th>
                                 Delete?
                              </th>
                           </tr>
                           <tr v-if="allOps.length" v-for="(item, i) in allOps">
                              <td>
                                 {{item.opjobtitle}}
                              </td>
                              <td>
                                 {{item.opemployer}}
                              </td>
                              <td>
                                 {{item.oplocation}}
                              </td>
                              <td>
                                <a :onclick="href=item.opurl" ><i style="font-size:2em; color:#395A4E; text-align:center" class="far fa-eye"></i></a>
                              </td>
                              <td>
                                 {{item.opstatus}}
                              </td>
                              <td>
                                 {{item.optodo}}
                              </td>
                              <td>
                                <button v-on:click="openModal" :data-optodo="item.optodo" :data-opstatus="item.opstatus" :data-opemployer="item.opemployer" :data-oplocation="item.oplocation" :data-opjobtitle="item.opjobtitle" type="button" class="btn btn-sm" data-toggle="modal" :data-modal-target="hashmodalID(item.opurl)" style="color:#FAF9F9; background-color:#867255">Update</button>

                                 <!-- Modal -->
                                 <div class="modal" v-bind:id="modalID(item.opurl)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                   <div class="modal-dialog" role="document">
                                     <div class="modal-content">
                                       <div class="modal-header">
                                         <h5 class="modal-title" id="">{{item.opemployer}}: <small>{{item.opjobtitle}}</small></h5>

                                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                           <span aria-hidden="true">&times;</span>
                                         </button>
                                       </div>
                                       <div class="modal-body">
                                         <table>
                                           <tr>
                                             <th></th>
                                             <th>Status</th>
                                             <th>To-Do</th>
                                           </tr>
                                           <tr>
                                             <td>Current</td>
                                             <td>{{item.opstatus}}</td>
                                             <td>{{item.optodo}}</td>
                                           </tr>
                                           <tr>
                                             <td>New: </td>
                                             <td>
                                               <select v-on:change="editOp" data-opstatus="item.opstatus" id="" class="select-wrapper form-control rounded-0" v-model="status" >
                                             <option required value="consider">Consider</option>
                                             <option value="applied">Applied</option>
                                             <option value="interview">Interview</option>
                                             <option value="offer">Offer</option>
                                             <option value="declined">Declined</option>
                                             <option value="rejected">Rejected</option>
                                           </select>
                                         </td>
                                         <td>
                                           <select v-on:change="editOp" data-opstatus="item.optodo" id="" class="select-wrapper form-control rounded-0" v-model="todo" >
                                         <option required value="apply">Apply</option>
                                         <option value="nothing">Nothing</option>
                                         <option value="contact">Contact</option>
                                         <option value="meet">Meeting</option>
                                       </select>
                                     </td>
                                       </tr>
                                     </table>
                                       </div>
                                       <div class="modal-footer">
                                         <button type="button" class="btn btn-sm" style="color:#FAF9F9; background-color:#A2DAE8" data-dismiss="modal">Cancel</button>
                                         <button type="button" class="btn btn-sm"  style="color:#FAF9F9; background-color:#395A4E">Save</button>
                                       </div>
                                     </div>
                                   </div>
                                 </div>
                              </td>
                              <td>
                                <button :data-opemployer="item.opemployer" :data-oplocation="item.oplocation" :data-opjobtitle="item.opjobtitle" v-on:click="deleteOp" class="btn btn-block btn-sm" style="color:#FAF9F9; background-color:#7A4E59">Delete</button>
                              </td>
                           </tr>
                        </table>
                     </div>
                  </div>
               </div>
               <div  class="col-12 card border rounded-0 classWithPad" style="width: 18rem;">
                 <i style="font-size:3em; color:#395A4E; text-align:center" class="fas fa-search"><h5 style="color:#395A4E" class="card-title">Find Job Ads</h5></i>
                  <div style="overflow-y:scroll; background-color:#FAF9F9" class="card-body classWithPad"   >
                       <div class="container" id="">
                        <table style="font-size:small" class="table table-striped table-hover">
                          <form class="form form-group form-inline" >
                            <tr>
                              <th>
                                <input class="form-control rounded-0" v-model="enterKeyword" placeholder="Job Keyword">
                              </th>
                              <th>
                                <input class="form-control rounded-0" v-model="enterCity" placeholder="City">
                              </th>
                              <th>
                                <select id="sqSelect" class="select-wrapper form-control rounded-0" v-model="enterState" placeholder="State">
                                <option required value="">State</option>
                                <option value="AL">AL</option>
                              	<option value="AK">AK</option>
                              	<option value="AZ">AZ</option>
                              	<option value="AR">AR</option>
                              	<option value="CA">CA</option>
                              	<option value="CO">CO</option>
                              	<option value="CT">CT</option>
                              	<option value="DE">DE</option>
                              	<option value="DC">DC</option>
                              	<option value="FL">FL</option>
                              	<option value="GA">GA</option>
                              	<option value="HI">HI</option>
                              	<option value="ID">ID</option>
                              	<option value="IL">IL</option>
                              	<option value="IN">IN</option>
                              	<option value="IA">IA</option>
                              	<option value="KS">KS</option>
                              	<option value="KY">KY</option>
                              	<option value="LA">LA</option>
                              	<option value="ME">ME</option>
                              	<option value="MD">MD</option>
                              	<option value="MA">MA</option>
                              	<option value="MI">MI</option>
                              	<option value="MN">MN</option>
                              	<option value="MS">MS</option>
                              	<option value="MO">MO</option>
                              	<option value="MT">MT</option>
                              	<option value="NE">NE</option>
                              	<option value="NV">NV</option>
                              	<option value="NH">NH</option>
                              	<option value="NJ">NJ</option>
                              	<option value="NM">NM</option>
                              	<option value="NY">NY</option>
                              	<option value="NC">NC</option>
                              	<option value="ND">ND</option>
                              	<option value="OH">OH</option>
                              	<option value="OK">OK</option>
                              	<option value="OR">OR</option>
                              	<option value="PA">PA</option>
                              	<option value="RI">RI</option>
                              	<option value="SC">SC</option>
                              	<option value="SD">SD</option>
                              	<option value="TN">TN</option>
                              	<option value="TX">TX</option>
                              	<option value="UT">UT</option>
                              	<option value="VT">VT</option>
                              	<option value="VA">VA</option>
                              	<option value="WA">WA</option>
                              	<option value="WV">WV</option>
                              	<option value="WI">WI</option>
                              	<option value="WY">WY</option>
                              </select>
                              </th>
                              <th>
                                <button v-on:click="doSearch" class="btn" style="color:#FAF9F9; background-color:#395A4E" >Find</button>
                                  <!-- </th> -->
                              </th>
                              <th>
                                 <!-- Add? -->
                              </th>
                            </form>
                           </tr>
                           <tr>
                              <th>
                                 Job Title
                              </th>
                              <th>
                                 Employer
                              </th>
                              <th>
                                 Location
                              </th>
                              <th>
                                 URL
                              </th>
                              <th>
                                 Add?
                              </th>
                           </tr>
                           <tr v-for="(ad, i) in jobAds">
                              <td>
                                 {{ad.job_title}}
                              </td>
                              <td>
                                 {{ad.employer}}
                              </td>
                              <td>
                                 {{ad.location}}
                              </td>
                              <td>
                                 <button :onclick="href=ad.url" class="btn btn-block btn-sm" style="color:#FAF9F9; background-color:#395A4E" >View</button>
                              </td>
                              <td>
                                <button :data-ad-jobtitle="ad.job_title" :data-ad-employer="ad.employer" :data-ad-location="ad.location" :data-ad-status="ad.status" :data-ad-todo="ad.status" :data-ad-url="ad.url" v-on:click="createCoOp" class="btn btn-block btn-sm" style="color:#FAF9F9; background-color:#395A4E" >Add</button>
                              </td>
                           </tr>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>

                            <!-- <div id="idMyModal">
                              <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#idMyModal">Open Modal</button>

                            </div> -->
         <footer class="footer">
            <div class="container" align="center">
               <a href="https://www.linkedin.com/in/howardvickers/" class="btn btn-social-icon btn-linkedin"><i class="fab fa-linkedin"></i></i></i></a>
               <a href="https://github.com/howardvickers/" class="btn btn-social-icon btn-github"><i class="fab fa-github"></i></a>
               </p>
               <p class="smallText text-center">* Logo made with Logomakr.com</p>
            </div>
         </footer>
      </div>
      <script src="/main.js"></script>
      <script>
      // Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
      <script>
            function doModal(placementId, heading, formContent, strSubmitFunc, btnText)
      {
          var html =  '<div id="modalWindow" class="modal hide fade in" style="display:none;">';
          html += '<div class="modal-header">';
          html += '<a class="close" data-dismiss="modal">×</a>';
          html += '<h4>'+heading+'</h4>'
          html += '</div>';
          html += '<div class="modal-body">';
          html += '<p>';
          html += formContent;
          html += '</div>';
          html += '<div class="modal-footer">';
          if (btnText!='') {
              html += '<span class="btn btn-success"';
              html += ' onClick="'+strSubmitFunc+'">'+btnText;
              html += '</span>';
          }
          html += '<span class="btn" data-dismiss="modal">';
          html += 'Close';
          html += '</span>'; // close button
          html += '</div>';  // footer
          html += '</div>';  // modalWindow
          $("#"+placementId).html(html);
          $("#modalWindow").modal();
      }


      function hideModal()
      {
          // Using a very general selector - this is because $('#modalDiv').hide
          // will remove the modal window but not the mask
          $('.modal.in').modal('hide');
      }
      </script>

        <script>
        var header = "This is my dynamic header";
        var content = "This is my dynamic content";
        var strSubmitFunc = "applyButtonFunc()";
        var btnText = "Just do it!";
        doModal('idMyModal', header, content, strSubmitFunc, btnText);
        </script>
   </body>
</html>
